#screen {
  width: 600px;
  height: 600px;
  background-color: chocolate;
  border: black 50px solid;
  margin: auto;
  position: relative;
}
.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}
.ball-move {
  animation: ball-move 3s infinite linear;
  animation-iteration-count: 1;
}
.ball-1 {
  background-color: rgb(250, 184, 206);
}
.ball-2 {
  background-color: chartreuse;
}
.ball-3 {
  background-color: aqua;
}
.hide {
  display: none;
}

@keyframes ball-move {
  0% {
    top: -10px;
  }

  100% {
    top: calc(100% - 50px);
  }
}

button {
  width: 100px;
  height: 30px;
  background-color: chocolate;
  border: black 2px solid;
}
section {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
